@font-face {
  font-family: "GT-Standard";
  src: 
  url("../static/fonts/GTStandardTrial-LRg.ttf") format("truetype"),
  url("../static/fonts/GTStandardTrial-LRg.woff2") format("woff2"),
  url("../static/fonts/GTStandardTrial-LRg.woff") format("woff");
  font-weight: 400;
  font-style: normal;

}
@font-face {
  font-family: "GT-Standard";
  src: url("../static/fonts/GTStandardTrial-LBl.ttf") format("truetype"),
  url("../static/fonts/GTStandardTrial-LBl.woff2") format("woff2"),
  url("../static/fonts/GTStandardTrial-LBl.woff") format("woff");
  font-weight: 900;
  font-style: normal;

}
@font-face {
  font-family: "GT-Standard";
  src: url("../static/fonts/GTStandardTrial-LHv.ttf") format("truetype"),
  url("../static/fonts/GTStandardTrial-LHv.woff2") format("woff2"),
  url("../static/fonts/GTStandardTrial-LHv.woff") format("woff");
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: "GT-Standard-CM";
  src: url("../static/fonts/GTStandardTrial-LCmHv.ttf") format("truetype"),
  url("../static/fonts/GTStandardTrial-LCmHv.woff2") format("woff2"),
  url("../static/fonts/GTStandardTrial-LCmHv.woff") format("woff");
  font-weight: 900;
  font-style: normal;

}
@font-face {
  font-family: "GT-Standard-CN";
  src: url("../static/fonts/GTStandardTrial-LCnBd.ttf") format("truetype"),
  url("../static/fonts/GTStandardTrial-LCnBd.woff2") format("woff2"),
  url("../static/fonts/GTStandardTrial-LCnBd.woff") format("woff");
  font-weight: 700;
  font-style: normal;

}

@font-face{
   font-family: "GT-Standard-EXP";
  src: url("../static/fonts/GTStandardTrial-LExpBl.ttf") format("truetype"),
  url("../static/fonts/GTStandardTrial-LExpBl.woff2") format("woff2"),
  url("../static/fonts/GTStandardTrial-LExpBl.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

:root {
  font-family: "GT-Standard", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family) !important;
  background-color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
